openapi: 3.0.3

info:
  title: iSign i3Cubes API
  version: 1.0.0
  description: |
    API documentation for the iSign i3Cubes Attendance Management System.

servers:
  - url: https://api.isign.i3cubes.com
    description: Production Server

tags:
  - name: Authentication
    description: User authentication APIs
  - name: User Management
    description: Admin portal user management APIs
  - name: Service Locations
    description: Service location management APIs
  - name: Employee Management
    description: Employee management APIs
  - name: Attendance Management
    description: Attendance management APIs
  - name: Roster Management
    description: Employee roster management APIs
  - name: Device Registration
    description: Mobile device registration APIs
paths:
  /api/v1/auth/login:
    post:
      tags:
        - Authentication

      summary: User Login
      description: |
        Authenticate portal users using username and password.

        Supported Roles:
        - Administrator
        - EME Area Manager
        - Regional Manager

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: admin@isign.lk

                password:
                  type: string
                  format: password
                  example: P@ssw0rd123

      responses:
        "200":
          description: Login successful

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  message:
                    type: string
                    example: Login successful

                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI...

                  user:
                    type: object

                    properties:
                      id:
                        type: integer
                        example: 101

                      fullName:
                        type: string
                        example: John Doe

                      email:
                        type: string
                        example: admin@isign.lk

                      role_id:
                        type: integer
                        example: 1

        "401":
          description: Invalid username or password

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "500":
          description: Internal server error

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/me:
    get:
      tags:
        - Authentication

      summary: Get Current Logged User
      description: |
        Returns authenticated user details using JWT token.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: User details fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  user:
                    $ref: "#/components/schemas/User"
                  assignedRegion:
                    type: string
                    example: Western Province

                  assignedLocations:
                    type: array

                    items:
                      type: string

                    example:
                      - Colombo Central
                      - Kaduwela
                      - Maharagama
                  permissions:
                    type: array

                    items:
                      type: string

                    example:
                      - VIEW_ATTENDANCE
                      - EDIT_ATTENDANCE
                      - MANAGE_EMPLOYEES
        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/users:
    get:
      tags:
        - User Management

      summary: Get Users List
      description: |
        Returns paginated list of portal users.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Users fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  users:
                    type: array

                    items:
                      $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

    post:
      tags:
        - User Management

      summary: Create User
      description: |
        Create new portal user.

      security:
        - bearerAuth: []

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              required:
                - fullName
                - email
                - password
                - role

              properties:
                fullName:
                  type: string
                  example: John Doe

                email:
                  type: string
                  example: john@isign.lk

                password:
                  type: string
                  format: password
                  example: P@ssw0rd123

                role_id:
                  type: integer
                  example: 1

      responses:
        "201":
          description: User created successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/users/{id}:
    put:
      tags:
        - User Management

      summary: Update User
      description: |
        Update existing portal user.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 101

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              properties:
                fullName:
                  type: string
                  example: John Doe

                email:
                  type: string
                  example: john@isign.lk

                role_id:
                  type: integer
                  example: 1

      responses:
        "200":
          description: User updated successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
        "404":
          description: User not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - User Management

      summary: Delete User
      description: |
        Delete existing portal user.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 101

      responses:
        "200":
          description: User deleted successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: User not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/roles:
    get:
      tags:
        - User Management

      summary: Get Roles List
      description: |
        Returns available system roles and permissions.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Roles fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  roles:
                    type: array

                    items:
                      type: object

                      properties:
                        role_id:
                          type: integer
                          example: 1

                        permissions:
                          type: array

                          items:
                            type: string

                          example:
                            - VIEW_ATTENDANCE
                            - MANAGE_USERS
                            - MANAGE_EMPLOYEES

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/locations:
    get:
      tags:
        - Service Locations

      summary: Get Service Locations
      description: |
        Returns available service locations.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Locations fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  locations:
                    type: array

                    items:
                      type: object

                      properties:
                        location_id:
                          type: integer
                          example: 1

                        location_name:
                          type: string
                          example: Colombo Central

                        region_id:
                          type: integer
                          example: 10

                        region_name:
                          type: string
                          example: Western Province

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
    post:
      tags:
        - Service Locations

      summary: Create Service Location
      description: |
        Create new service location.

      security:
        - bearerAuth: []

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              required:
                - location_name
                - region_id

              properties:
                location_name:
                  type: string
                  example: Colombo Central

                region_id:
                  type: integer
                  example: 10

      responses:
        "201":
          description: Location created successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/locations/{id}:
    put:
      tags:
        - Service Locations

      summary: Update Service Location
      description: |
        Update existing service location.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 1

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              properties:
                location_name:
                  type: string
                  example: Colombo Central

                region_id:
                  type: integer
                  example: 10

      responses:
        "200":
          description: Location updated successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Location not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Service Locations

      summary: Delete Service Location
      description: |
        Delete existing service location.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 1

      responses:
        "200":
          description: Location deleted successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Location not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/employees:
    get:
      tags:
        - Employee Management

      summary: Get Employees List
      description: |
        Returns paginated list of employees.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Employees fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  employees:
                    type: array

                    items:
                      type: object

                      properties:
                        employee_id:
                          type: integer
                          example: 1001

                        employee_code:
                          type: string
                          example: EMP001

                        full_name:
                          type: string
                          example: John Doe

                        designation_id:
                          type: integer
                          example: 5

                        location_id:
                          type: integer
                          example: 1

                        mobile_number:
                          type: string
                          example: "0771234567"

                        status_id:
                          type: integer
                          example: 1

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
    post:
      tags:
        - Employee Management

      summary: Create Employee
      description: |
        Create new employee.

      security:
        - bearerAuth: []

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              required:
                - employee_code
                - full_name
                - designation_id
                - location_id
                - status_id

              properties:
                employee_code:
                  type: string
                  example: EMP001

                full_name:
                  type: string
                  example: John Doe

                designation_id:
                  type: integer
                  example: 5

                location_id:
                  type: integer
                  example: 1

                mobile_number:
                  type: string
                  example: "0771234567"

                status_id:
                  type: integer
                  example: 1

      responses:
        "201":
          description: Employee created successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/employees/{id}:
    put:
      tags:
        - Employee Management

      summary: Update Employee
      description: |
        Update existing employee.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 1001

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              properties:
                full_name:
                  type: string
                  example: John Doe

                designation_id:
                  type: integer
                  example: 5

                location_id:
                  type: integer
                  example: 1

                mobile_number:
                  type: string
                  example: "0771234567"

                status_id:
                  type: integer
                  example: 1

      responses:
        "200":
          description: Employee updated successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Employee not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Employee Management

      summary: Delete Employee
      description: |
        Delete existing employee.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 1001

      responses:
        "200":
          description: Employee deleted successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Employee not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/attendance:
    get:
      tags:
        - Attendance Management

      summary: Get Attendance Records
      description: |
        Returns attendance records.

      security:
        - bearerAuth: []

      parameters:
        - in: query
          name: employee_id

          schema:
            type: integer

          example: 1001

        - in: query
          name: location_id

          schema:
            type: integer

          example: 1

        - in: query
          name: attendance_date

          schema:
            type: string
            format: date

          example: 2025-01-15

      responses:
        "200":
          description: Attendance records fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  attendance:
                    type: array

                    items:
                      type: object

                      properties:
                        attendance_id:
                          type: integer
                          example: 5001

                        employee_id:
                          type: integer
                          example: 1001

                        location_id:
                          type: integer
                          example: 1

                        check_in_time:
                          type: string
                          format: date-time

                          example: "2025-01-15T08:30:00"

                        check_out_time:
                          type: string
                          format: date-time

                          example: "2025-01-15T17:30:00"

                        status_id:
                          type: integer
                          example: 1

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
    post:
      tags:
        - Attendance Management

      summary: Create Attendance Record
      description: |
        Create new attendance record.

      security:
        - bearerAuth: []

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              required:
                - employee_id
                - location_id
                - check_in_time
                - status_id

              properties:
                employee_id:
                  type: integer
                  example: 1001

                location_id:
                  type: integer
                  example: 1

                check_in_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T08:30:00"

                check_out_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T17:30:00"

                status_id:
                  type: integer
                  example: 1

      responses:
        "201":
          description: Attendance record created successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/attendance/{id}:
    put:
      tags:
        - Attendance Management

      summary: Update Attendance Record
      description: |
        Update existing attendance record.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 5001

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              properties:
                check_in_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T08:30:00"

                check_out_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T17:30:00"

                status_id:
                  type: integer
                  example: 1

      responses:
        "200":
          description: Attendance record updated successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Attendance record not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Attendance Management

      summary: Delete Attendance Record
      description: |
        Delete existing attendance record.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 5001

      responses:
        "200":
          description: Attendance record deleted successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Attendance record not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/rosters:
    get:
      tags:
        - Roster Management

      summary: Get Roster List
      description: |
        Returns employee roster schedules.

      security:
        - bearerAuth: []

      parameters:
        - in: query
          name: employee_id

          schema:
            type: integer

          example: 1001

        - in: query
          name: location_id

          schema:
            type: integer

          example: 1

        - in: query
          name: roster_date

          schema:
            type: string
            format: date

          example: 2025-01-15

      responses:
        "200":
          description: Roster records fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  rosters:
                    type: array

                    items:
                      type: object

                      properties:
                        roster_id:
                          type: integer
                          example: 7001

                        employee_id:
                          type: integer
                          example: 1001

                        location_id:
                          type: integer
                          example: 1

                        shift_start_time:
                          type: string
                          format: date-time

                          example: "2025-01-15T08:00:00"

                        shift_end_time:
                          type: string
                          format: date-time

                          example: "2025-01-15T17:00:00"

                        status_id:
                          type: integer
                          example: 1

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
    post:
      tags:
        - Roster Management

      summary: Create Roster
      description: |
        Create employee roster schedule.

      security:
        - bearerAuth: []

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              required:
                - employee_id
                - location_id
                - shift_start_time
                - shift_end_time
                - status_id

              properties:
                employee_id:
                  type: integer
                  example: 1001

                location_id:
                  type: integer
                  example: 1

                shift_start_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T08:00:00"

                shift_end_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T17:00:00"

                status_id:
                  type: integer
                  example: 1

      responses:
        "201":
          description: Roster created successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/rosters/{id}:
    put:
      tags:
        - Roster Management

      summary: Update Roster
      description: |
        Update employee roster schedule.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 7001

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              properties:
                shift_start_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T08:00:00"

                shift_end_time:
                  type: string
                  format: date-time

                  example: "2025-01-15T17:00:00"

                status_id:
                  type: integer
                  example: 1

      responses:
        "200":
          description: Roster updated successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Roster not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Roster Management

      summary: Delete Roster
      description: |
        Delete employee roster schedule.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 7001

      responses:
        "200":
          description: Roster deleted successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Roster not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/devices:
    get:
      tags:
        - Device Registration

      summary: Get Registered Devices
      description: |
        Returns registered mobile devices.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Devices fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  devices:
                    type: array

                    items:
                      type: object

                      properties:
                        device_id:
                          type: integer
                          example: 9001

                        employee_id:
                          type: integer
                          example: 1001

                        device_uuid:
                          type: string
                          example: "A1B2-C3D4-E5F6"

                        device_model:
                          type: string
                          example: Samsung Galaxy A54

                        platform:
                          type: string
                          example: Android

                        status_id:
                          type: integer
                          example: 1

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
    post:
      tags:
        - Device Registration

      summary: Register Device
      description: |
        Register mobile device for employee attendance usage.

      security:
        - bearerAuth: []

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              required:
                - employee_id
                - device_uuid
                - device_model
                - platform
                - status_id

              properties:
                employee_id:
                  type: integer
                  example: 1001

                device_uuid:
                  type: string
                  example: "A1B2-C3D4-E5F6"

                device_model:
                  type: string
                  example: Samsung Galaxy A54

                platform:
                  type: string
                  example: Android

                status_id:
                  type: integer
                  example: 1

      responses:
        "201":
          description: Device registered successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/devices/{id}:
    put:
      tags:
        - Device Registration

      summary: Update Device
      description: |
        Update registered device details.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 9001

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              properties:
                device_model:
                  type: string
                  example: Samsung Galaxy A54

                platform:
                  type: string
                  example: Android

                status_id:
                  type: integer
                  example: 1

      responses:
        "200":
          description: Device updated successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Device not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Device Registration

      summary: Delete Device
      description: |
        Delete registered device.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 9001

      responses:
        "200":
          description: Device deleted successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: Device not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object

      properties:
        success:
          type: boolean
          example: false

        message:
          type: string
          example: Error message
    ForbiddenResponse:
      type: object

      properties:
        success:
          type: boolean
          example: false

        message:
          type: string
          example: Access denied
    User:
      type: object

      properties:
        id:
          type: integer
          example: 101

        fullName:
          type: string
          example: John Doe

        email:
          type: string
          example: admin@isign.lk

        role_id:
          type: integer
          example: 1
