openapi: 3.0.3

info:
  title: iSign i3Cubes API
  version: 1.0.0
  description: |
    API documentation for the iSign i3Cubes Attendance Management System.

servers:
  - url: https://api.isign.i3cubes.com
    description: Production Server

tags:
  - name: Authentication
    description: User authentication APIs

  - name: User Management
    description: Admin portal user management APIs
paths:
  /api/v1/auth/login:
    post:
      tags:
        - Authentication

      summary: User Login
      description: |
        Authenticate portal users using username and password.

        Supported Roles:
        - Administrator
        - EME Area Manager
        - Regional Manager

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: admin@isign.lk

                password:
                  type: string
                  format: password
                  example: P@ssw0rd123

      responses:
        "200":
          description: Login successful

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  message:
                    type: string
                    example: Login successful

                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI...

                  user:
                    type: object

                    properties:
                      id:
                        type: integer
                        example: 101

                      fullName:
                        type: string
                        example: John Doe

                      email:
                        type: string
                        example: admin@isign.lk

                      role:
                        type: string
                        enum:
                          - ADMIN
                          - EME_MANAGER
                          - REGIONAL_MANAGER
                        example: ADMIN

        "401":
          description: Invalid username or password

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "500":
          description: Internal server error

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/me:
    get:
      tags:
        - Authentication

      summary: Get Current Logged User
      description: |
        Returns authenticated user details using JWT token.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: User details fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  user:
                    $ref: "#/components/schemas/User"
                  assignedRegion:
                    type: string
                    example: Western Province

                  assignedLocations:
                    type: array

                    items:
                      type: string

                    example:
                      - Colombo Central
                      - Kaduwela
                      - Maharagama
                  permissions:
                    type: array

                    items:
                      type: string

                    example:
                      - VIEW_ATTENDANCE
                      - EDIT_ATTENDANCE
                      - MANAGE_EMPLOYEES
        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/users:
    get:
      tags:
        - User Management

      summary: Get Users List
      description: |
        Returns paginated list of portal users.

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Users fetched successfully

          content:
            application/json:
              schema:
                type: object

                properties:
                  success:
                    type: boolean
                    example: true

                  users:
                    type: array

                    items:
                      $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

    post:
      tags:
        - User Management

      summary: Create User
      description: |
        Create new portal user.

      security:
        - bearerAuth: []

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              required:
                - fullName
                - email
                - password
                - role

              properties:
                fullName:
                  type: string
                  example: John Doe

                email:
                  type: string
                  example: john@isign.lk

                password:
                  type: string
                  format: password
                  example: P@ssw0rd123

                role:
                  type: string

                  enum:
                    - ADMIN
                    - EME_MANAGER
                    - REGIONAL_MANAGER

                  example: EME_MANAGER

      responses:
        "201":
          description: User created successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
  /api/v1/users/{id}:
    put:
      tags:
        - User Management

      summary: Update User
      description: |
        Update existing portal user.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 101

      requestBody:
        required: true

        content:
          application/json:
            schema:
              type: object

              properties:
                fullName:
                  type: string
                  example: John Doe

                email:
                  type: string
                  example: john@isign.lk

                role:
                  type: string

                  enum:
                    - ADMIN
                    - EME_MANAGER
                    - REGIONAL_MANAGER

                  example: REGIONAL_MANAGER

      responses:
        "200":
          description: User updated successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"
        "404":
          description: User not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - User Management

      summary: Delete User
      description: |
        Delete existing portal user.

      security:
        - bearerAuth: []

      parameters:
        - in: path
          name: id
          required: true

          schema:
            type: integer

          example: 101

      responses:
        "200":
          description: User deleted successfully

        "401":
          description: Unauthorized

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "403":
          description: Forbidden

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenResponse"

        "404":
          description: User not found

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object

      properties:
        success:
          type: boolean
          example: false

        message:
          type: string
          example: Error message
    ForbiddenResponse:
      type: object

      properties:
        success:
          type: boolean
          example: false

        message:
          type: string
          example: Access denied
    User:
      type: object

      properties:
        id:
          type: integer
          example: 101

        fullName:
          type: string
          example: John Doe

        email:
          type: string
          example: admin@isign.lk

        role:
          type: string

          enum:
            - ADMIN
            - EME_MANAGER
            - REGIONAL_MANAGER

          example: ADMIN
